# Dependencies
node_modules/

# Expo Files
.expo/
.backup/
web-build/

# Builds
dist/
*.dSYM

# Logs
npm-debug.*

# Sensitive files
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*

# Environment
.env
eas.json
google-services.json
GoogleService-Info.plist
functions/serviceAccountKey.json

# macOS
.DS_Store

# Cloud Functions Copied Files and Logs
functions/src/utils/schedulerConstants.js
functions/src/utils/snoozeHandler.js
functions/src/utils/scheduler.js
functions/firebase-debug.log
