# Dependencies
node_modules/

# Expo Files
.expo/
.backup/
web-build/

# Builds
dist/

# Logs
npm-debug.*

# Sensitive files
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*

# Environment
.env
eas.json
google-services.json
GoogleService-Info.plist

# macOS
.DS_Store
